@font-face{
    src: url(fonts/cheltenham-normal\ bold\ italic.ttf);
    font-family: cheltenham;
}

*{
	margin: 0px;
	padding: 0px;
}
body {
    font-family: georgia,'times new roman',times,serif;
    background-color: #ffffff;
}
.container-nav {
    width: 100%;
    background-color:#ffffff;
    border-bottom: solid 1px #567b95;
}
nav .right-nav{
    display: inline;
    float: right;
    margin: 2px;
} 
nav .left-nav a{
    display: inline;
    float: left;
    padding-left: 7px;
    margin: 5px;
} 
nav .left-nav a:last-of-type{
    padding-top: 10px;
    color: black;
    font-family: cheltenham, Arial, Helvetica, sans-serif
    font-size: 14.25px;
    text-transform: uppercase;
    font-weight: 700;
} 

nav .center-nav{
    display: inline-block;
    padding-top: 5px;
    margin: 0px auto 0px 300px;
}
.left-nav a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.left-nav a:last-of-type:hover{
    text-decoration: underline;
}
.right-nav button{
    color: #ffffff;

    background-color: #567b95;
    border: 1px solid #326891;
    border-radius: 3px;
    padding: 11px 12px 8px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 11px;
    line-height: 11px;
    letter-spacing: 0.05em;
}
/*
.right-nav{
    float: right;;
    right: 5px;
}
.center-nav{
    position:fixed;
    right: 40px;
}